.footer {
  background-color: #0f0f0f;
  color: white;
  text-align: center;
  padding-top: 40px;
  font-family: Arial, sans-serif;
}

.footer-logo {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 15px 0 25px;
}

.social-icons img {
  width: 40px;
  height: 40px;
  background: white;
  padding: 10px;
  border-radius: 50%;
  object-fit: contain;
}

.footer-bottom {
  background: #000;
  padding: 10px 0;
  font-size: 14px;
}

.footer-bottom span {
  color: #f3d28c;
  font-weight: bold;
}
.footer-links {
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}

.footer-links a {
  color: #cccccc;
  text-decoration: none;
  font-size: 15px;
  transition: 0.25s ease;
  position: relative;
  padding-left: 0;
}
