.watch_page {
    text-align: center;

}

.watch_title {
    text-align: center;
    font-size: 50px;
    color: red
}

.watch_img {
    position: relative;
    border-radius: 15px;
    margin-top: 30px;
    background: rgba(0, 0, 0, 0.4);
}

.play_btn {
    position: absolute;
    left: 750px;
    top: 410px;
    width: 60px;
    height: 60px;
    stroke: red;
    cursor: pointer;
}

.watch_desc {
    margin-inline: 300px;
    margin-top: 30px;
    font-size: 20px;
}